ul.categories-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    gap:5px;
  }
  
  ul.categories-bar > li{
    list-style-type: none;
    border: 1px solid black;
    border-radius: 5px;
    height: 5vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li.active{
    background-color: cyan;
  }