/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik:wght@400;500&display=swap');

#root{
    --blue: rgb(1, 158, 185);
    --light-blue: rgb(213, 250, 252);
}

ul.categories-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    gap:5px;
    /* position: fixed; */

    align-self: flex-start;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

}

ul.categories-bar > li{
    list-style-type: none;
    /* border: 1px solid black; */
    border-radius: 5px;
    height: 5vh;
    width: clamp(100px, 10vw, 200px);
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

li.active{
    background-color: rgb(63, 63, 45);
    background-color: var(--blue);
    color: white;
}


li{
    /* background-color: rgb(197, 189, 163); */
    /* background-color: #F7F7F2; */
    background-color: white;
    color: white;
    color: black;
    font-family: Rubik, sans-serif;
    font-weight: 500;
    padding: 5px
}
