:root {
  --blue: rgb(1, 158, 185);
}

.problem-table {
  width: 50%;
  border-collapse: collapse;
  font-size: 1.3em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  /* margin-top: 20px; */
  /* border: 1px solid black; */
  border-radius: 8px;
  overflow: hidden;
  background-color: white;

  /* margin-top: 25px; */



  /* table-layout: fixed; */
  
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.problem-table th,
.problem-table td {
  border: 1px solid #ddd;
  padding: 9px;
  text-align: left;
}

.problem-table .diff-col{
  width: 33%;
  text-align: center;
}

.problem-table .diff-head{
  text-align: center;
}
/* 
.problem-table th {
  background-color: black;
  font-weight: bold;
} */

/* .problem-table tr:nth-child(even) {
  background-color: #f9f9f9;
} */

/* .problem-table tr:hover {
  background-color: #f5f5f5;
} */

.problem-table td {
  vertical-align: middle;
  /* border-radius: 8px; */
}

.table-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 197, 39);
  background-color: rgb(40,40,40);
}

.problem-column{
  cursor: pointer;
}

.problem-table .diff-head, .problem-table .problem-head {
  background-color: var(--blue);
  color: white;
}

/* .problem-table tr{
  background-color: black;
}

.problem-table tr:nth-child(even) {
  background-color: rgb(41, 41, 41); 
} 
  */

.Medium, .Easy, .Hard{
  /* -webkit-text-stroke: 1px black; */
}

.Medium:hover{
  background-color: rgb(255, 189, 68);
  color: white;
}

.Easy:hover{
  background-color: rgb(136, 221, 26);
  color: white;

}

.Hard:hover{
  background-color: red;
  background-color: rgb(224, 53, 53);
  color: white;
}

.fav-icon{
  cursor: pointer;
  display: inline-block;
  /* vertical-align: middle; */
}

.check-icon{
  cursor: pointer;
}

.problem-table .fav-column, .problem-table .check-column{
  width: 7%;
}